/*
0- 320px:       small-phone
320px-600px:    Phone
600px-900px:    Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px :       where normal styles apply

1800px+ :       Big desktop
*/
@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  30% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  30% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  40% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  40% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  30% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  30% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInRightUp {
  0% {
    opacity: 0;
    transform: translateY(8rem) translateX(8rem);
  }
  30% {
    transform: translateY(3rem) translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
@keyframes moveInRightUp {
  0% {
    opacity: 0;
    transform: translateY(8rem) translateX(8rem);
  }
  30% {
    transform: translateY(3rem) translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 1100px) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 16px; */
  color: #777;
}

.heading-primary {
  color: white;
  -webkit-backface-visibility: none;
          backface-visibility: none;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  display: block;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 4rem;
  }
}
.heading-primary--sub {
  font-size: 2rem;
  letter-spacing: 1.75rem;
  font-weight: 700;
  display: block;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.4rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.18;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.5);
  transition: 0.3s;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}
.btn--white {
  background-color: white;
  color: #777;
}
.btn--white::after {
  background-color: white;
}
.btn--green {
  background-color: #55c57a;
  color: white;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  -webkit-animation: moveUp 1s ease-out 0.7s;
          animation: moveUp 1s ease-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 7px;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card {
  perspective: 100rem;
  position: relative;
  height: 52rem;
}
.card__side {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  height: 52rem;
  transition: all 0.8s ease;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__side--back-1 {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  transform: rotateY(-180deg);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  transform: rotateY(180deg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--front-2 {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  width: 90%;
  text-align: center;
}
.card__price-box {
  margin-bottom: 8rem;
  color: white;
  font-weight: 400;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
}
.card:hover .card__cta {
  -webkit-animation: moveInRightUp 1s ease-out;
          animation: moveInRightUp 1s ease-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  .card__side {
    height: auto;
    position: relative;
    border-radius: 0;
    box-shadow: 0rem 0rem 0rem;
  }
  .card__side--back {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back-1 {
    transform: rotateY(0deg);
  }
  .card__side--back-2 {
    transform: rotateY(0deg);
  }
  .card__side--back-3 {
    transform: rotateY(0deg);
  }
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
  .card:hover .card__side--front-2 {
    transform: rotateY(0deg);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    width: 100%;
    text-align: center;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
  .card:hover .card__cta {
    -webkit-animation: none;
            animation: none;
  }
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 5;
  transition: all 0.2s ease-out;
  outline-offset: 1.5rem;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    outline-offset: 0.8rem;
    border-radius: 1px;
  }
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 5;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.4) translateY(-5px);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}
@media (max-width: 56.25em) {
  .composition__photo:hover {
    outline: 0.8rem solid #55c57a;
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(1.1);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-out;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  display: inline-block;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  color: transparent;
}
@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.05);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group--radio {
  display: flex;
}
@media (max-width: 56.25em) {
  .form__group--radio {
    flex-direction: column;
  }
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  color: inherit;
  display: block;
  transition: 0.3s ease-out;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
  color: #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:invalid ~ .form__label {
  color: #ff7730;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-3rem);
  visibility: hidden;
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  transform: translateY(-3rem);
  visibility: hidden;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-3rem);
  visibility: hidden;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  margin-top: 0.7rem;
  transition: 0.3s ease-out;
}
.form__radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__radio-group:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 56.25em) {
  .form__radio-group:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button:after {
  opacity: 1;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: relative;
  margin-right: 1.5rem;
}
@media (max-width: 56.25em) {
  .form__radio-button {
    border: 3px solid #55c57a;
  }
}
.form__radio-button::after {
  content: "";
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: 0.2s ease-out;
}
@media (max-width: 56.25em) {
  .form__radio-button::after {
    border: 3px solid #55c57a;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.popup {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4);
  transition: 0.3s ease-out;
  align-items: center;
}
@media (max-width: 37.5em) {
  .popup__content {
    display: flex;
    flex-direction: column;
  }
}
.popup__left {
  width: 33.333333%;
}
@media (max-width: 37.5em) {
  .popup__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.popup__right {
  width: 66.666667%;
  height: 100%;
  padding: 3rem 5rem;
}
@media (max-width: 37.5em) {
  .popup__right {
    width: 100%;
    position: static;
    padding: 1.5rem 2.5rem;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  -moz-column-rule: 1px solid #999;
       column-rule: 1px solid #999;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  pointer-events: all;
}
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 0.2s;
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 3rem;
  text-decoration: none;
  color: #777;
  transition: 0.2s ease-out;
  line-height: 0.5;
}
.popup__close:hover {
  color: #55c57a;
}

.story {
  width: 90%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .story {
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    transform: skewX(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    width: 80%;
  }
}
@media (max-width: 25em) {
  .story {
    width: 100%;
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  overflow: hidden;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3rem) skewX(0deg);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    text-align: center;
    shape-outside: none;
    margin-left: 3rem;
  }
}
.story__shape img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__text {
    transform: skewX(0deg);
    text-align: left;
  }
}
.story__caption {
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.8rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__shape img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(70%);
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 4rem;
  }
}
.footer__logo {
  width: 15rem;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
}
@media (max-width: 56.25em) {
  .footer__navigation {
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  background-color: #333;
  padding: 0.5rem;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__paragraph {
  margin-left: auto;
}
.footer__paragraph--copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
}
@media (max-width: 56.25em) {
  .footer__paragraph--copyright {
    text-align: center;
  }
}

.row {
  max-width: 114rem;
  background-color: lightgray;
  margin: 0 auto;
  color: black;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 12rem);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  /* clip-path: polygon(50% 0, 80% 100%, 20% 100%); */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 75vh;
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
  width: auto;
}
.header__text-box {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 30;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 2.5rem;
    right: 2.5rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  z-index: 20;
  transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
    height: 4rem;
    width: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s cubic-bezier(0.73, -0.66, 0.28, 1.63);
}
.navigation__list {
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  perspective: 90rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.navigation__link:link, .navigation__link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  width: 35rem;
  height: 7rem;
}
.navigation__link:link > div, .navigation__link:visited > div {
  position: absolute;
  transform: rotateX(-90deg);
  width: 35rem;
  height: 7rem;
  transform-style: preserve-3d;
  transition: 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__link:link > div > span, .navigation__link:visited > div > span {
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 1rem 2rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 220%;
  transition: 0.4s ease-out;
}
.navigation__link:link span span, .navigation__link:visited span span {
  margin-right: 1rem;
}
.navigation__link--front {
  transform: translateZ(3rem);
}
.navigation__link--back {
  transform: rotateX(90deg) translateZ(3rem);
}
.navigation__item:hover .navigation__link > div {
  transform: rotateX(0deg);
}
.navigation__item:hover .navigation__link--front {
  background-position: 100%;
  transition-delay: 0.25s;
  color: #55c57a;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  pointer-events: all;
  width: 100%;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 2px;
  background-color: #999;
  display: inline-block;
  transition: 0.2s ease-out;
}
@media (max-width: 56.25em) {
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 2.5rem;
  }
}
.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -20rem;
  padding: 25rem 3rem;
}
.section-about--typography {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 10rem;
  padding: 20px;
  max-width: 114rem;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section-about--typography__text {
  margin-right: 6rem;
  width: calc((100% - 6rem) / 2);
}
.section-about--typography__pics {
  width: calc((100% - 6rem) / 2);
}
@media (max-width: 56.25em) {
  .section-about--typography {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 0 3rem;
  }
  .section-about--typography > div {
    margin-right: 0rem;
    width: 100%;
  }
  .section-about--typography > div:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .section-about--typography {
    max-width: 60rem;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}
.section-features--content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 114rem;
  transform: skewY(7deg);
}
.section-features--content > div {
  width: calc((100% - 3 * 6rem) / 4);
}
.section-features--content > div:not(:last-child) {
  margin-right: 6rem;
}
@media screen and (max-width: 1080px) and (min-width: 900px) {
  .section-features--content > div:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 56.25em) {
  .section-features--content {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 0 3rem;
  }
  .section-features--content > div {
    margin-right: 0rem;
    width: 100%;
  }
  .section-features--content > div:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 6rem;
  }
}

.section-tours {
  background-color: #f7f7f7;
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}
.section-tours--content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 114rem;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section-tours--content > div {
  width: calc((100% - 2 * 6rem) / 3);
}
.section-tours--content > div:not(:last-child) {
  margin-right: 6rem;
}
@media screen and (max-width: 1080px) and (min-width: 900px) {
  .section-tours--content > div:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 56.25em) {
  .section-tours--content {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 0 3rem;
  }
  .section-tours--content > div {
    margin-right: 0rem;
    width: 100%;
  }
  .section-tours--content > div:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 6rem;
  }
}

.section-stories {
  padding: 15rem;
  background-color: transparent;
  position: relative;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem;
  }
}
@media (max-width: 37.5em) {
  .section-stories {
    padding: 4rem;
  }
}
.section-stories--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 114rem;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section-stories--content > *:not(:last-child) {
  margin-bottom: 8rem;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}
.section-book__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 56.25em) {
  .section-book__content {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 0 3rem;
  }
  .section-book__content > div {
    margin-right: 0rem;
    width: 100%;
  }
  .section-book__content > div:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 6rem;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(/img/nat-10.jpg);
    background-size: cover;
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(/img/nat-10.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer__content > div:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 0 3rem;
  }
  .footer__content > div {
    margin-right: 0rem;
    width: 100%;
  }
  .footer__content > div:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 6rem;
  }
}/*# sourceMappingURL=main.css.map */