@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  30% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  40% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  30% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRightUp {
  0% {
    opacity: 0;
    transform: translateY(8rem) translateX(8rem); }
  30% {
    transform: translateY(3rem) translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 16px; */
  color: #777; }

.heading-primary {
  color: white;
  backface-visibility: none;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .heading-primary--main {
    font-size: 6rem;
    font-weight: 400;
    display: block;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;
    display: block;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0;
    transform: scale(1.5);
    transition: 0.3s; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10rem; }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #55c57a;
  color: white; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInRight 1s ease-out 0.7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 7px;
  font-size: 1.6rem;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-4px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 100rem;
  position: relative;
  height: 52rem; }
  .card__side {
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
    height: 52rem;
    transition: all 0.8s ease;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      display: flex;
      justify-content: center;
      align-items: center; }
      .card__side--back-1 {
        transform: rotateY(180deg);
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        transform: rotateY(-180deg);
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        transform: rotateY(180deg);
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover {
    cursor: pointer; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
    .card:hover .card__side--front-2 {
      transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 3rem; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: white;
    font-weight: 400; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 300; }
  .card:hover .card__cta {
    animation: moveInRightUp 1s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 5;
    transition: all 0.2s ease-out;
    outline-offset: 1.5rem;
    cursor: pointer; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 0; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-out;
  cursor: pointer; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.story {
  width: 90%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    overflow: hidden;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    .story__shape img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      transition: all 0.5s;
      backface-visibility: hidden; }
  .story__caption {
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__shape img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%); }

.row {
  max-width: 114rem;
  background-color: lightgray;
  margin: 0 auto;
  color: black; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + $gutter-horizontal); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + $gutter-horizontal); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + (2 * $gutter-horizontal)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  /* clip-path: polygon(50% 0, 80% 100%, 20% 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    width: auto; }
  .header__text-box {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20rem;
  padding: 25rem 0; }
  .section-about--typography {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 10rem;
    padding: 20px;
    max-width: 114rem;
    margin: 0 auto;
    height: fit-content; }
    .section-about--typography__text {
      margin-right: 6rem;
      width: calc((100% - 6rem) / 2); }
    .section-about--typography__pics {
      width: calc((100% - 6rem) / 2); }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features--content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    max-width: 114rem;
    transform: skewY(7deg); }
    .section-features--content > div {
      width: calc((100% - 3 * 6rem) / 4); }
    .section-features--content > div:not(:last-child) {
      margin-right: 6rem; }

.section-tours {
  background-color: #f7f7f7;
  margin-top: -10rem;
  padding: 25rem 0 15rem 0; }
  .section-tours--content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 114rem;
    margin: 0 auto;
    height: fit-content; }
    .section-tours--content > div {
      width: calc((100% - 2 * 6rem) / 3); }
    .section-tours--content > div:not(:last-child) {
      margin-right: 6rem; }

.section-stories {
  padding: 15rem;
  background-color: transparent;
  position: relative; }
  .section-stories--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 114rem;
    margin: 0 auto;
    height: fit-content; }
    .section-stories--content > *:not(:last-child) {
      margin-bottom: 8rem; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .section-book__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 114rem;
    margin: 0 auto;
    height: fit-content; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .book__form {
    width: 50%;
    padding: 6rem; }
