@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MIXIN QUERY  MANAGER
/*
0- 320px:       small-phone
320px-600px:    Phone
600px-900px:    Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px :       where normal styles apply

1800px+ :       Big desktop
*/
@mixin respond($breakpoint) {
  @if ($breakpoint == small-phone) {
    @media (max-width: 25em) {
      //400px
      @content;
    }
  }
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

// mixin for flex-column layout
@mixin flex-column {
  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 0 3rem;

    & > div {
      margin-right: 0rem;
      width: 100%;
    }
    & > div:not(:last-child) {
      margin-right: 0rem;
      margin-bottom: $gutter-vertical-small;
    }
  }
}
