@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  30% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  40% {
    transform: translateX(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  30% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRightUp {
  0% {
    opacity: 0;
    transform: translateY(8rem) translateX(8rem);
  }

  30% {
    transform: translateY(3rem) translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
