*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; //1rem = 10px

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(phone) {
    font-size: 43.75%; //1rem = 7px
  }

  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @media (max-width: 1100px) {
    padding: 0;
  }
}
