.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  /* clip-path: polygon(50% 0, 80% 100%, 20% 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 75vh;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    width: auto;
  }

  &__text-box {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
}
